h1{
    font-size: 35pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18pt;
}
.fejlec{
    height: 400px;
    background-image: url(spaghetti.jpg);
    align-self: center;
    vertical-align: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    border-bottom: 10px solid #141414;
}
h1{
    margin: 0%;
    padding-top: 150px;
    padding-left: 150px;
    text-align: left;
    color: tan;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 3px 3px 5px black;
}